.footer-component {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.col-footer {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
}

.col-footer h3 {
    font-size: 25px;
}

.col-footer>a {
    color: #121212;
    font-size: 17px;
}