.container-newslister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}



.card-product {
    width: 255px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px !important;
    cursor: pointer;
}